.contact-us {
  margin-bottom: 60px;
  position: relative;
  z-index: 12;
  display: flex;
  margin-left: -15px;
  margin-right: -15px;
}

.contacts-wrap {
  padding-bottom: 1px;
  position: relative;
  background-color: #f0f0ef;
  z-index: 5;
}

.contact-us-head {
  padding: 45px 50px;
  background-color: $linkColor;
  color: #fff;
}

.contact-us-title {
  margin-bottom: 50px;
  color: #fff;
  @include font-size(30px)
}

.contact-us-text {
  @include font-size(17px);
}

.contact-us-content {
  padding: 45px 25px;
  background-color: #fff;
  display: flex;
}

.contact-us-right {
  .btn-blue {
    width: 100%;
    padding-top: 22px;
    padding-bottom: 22px;
    @include font-size(20px);
  }
}
