.header-home {
  height: 790px;
  color: #fff;
  position: relative;
  background-repeat: no-repeat;
  background-position: center bottom;
  display: flex;
  align-items: center;
  &::before,
  &::after {
    width: 100%;
    height: inherit;
    top: 75px;
    left: 0;
    position: fixed;
    content: '';
  }
  &::before {
    z-index: 4;
    background: url(../img/pattern.png) repeat;
  }
  &::after {
    z-index: 3;
    background-image: inherit;
    background-repeat: inherit;
    background-position: inherit;
  }
  .container {
    position: relative;
    z-index: 5;
  }
}

.header-home__title {
  margin-bottom: 23px;
  color: inherit;
  font-weight: normal;
  @include font-size(60px);
}

.header-home__text {
  margin-bottom: 58px;
  @include font-size(20px)
}
