.header {
  width: 100%;
  height: 75px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  background-color: #fff;
  position: fixed;
  z-index: 90;
  top: 0;
  left: 0;
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, .1);
}

.logo {
  width: 120px;
  margin-right: 6%;
  flex: none;
  @include clearfix;
}

.header-nav {
  flex: 1;
}

.menu {
  font-weight: 400;
  display: flex;
}

.menu-item__level-1 {
  color: $mainColor;
  line-height: 1;
  white-space: nowrap;
}

.menu-item__link {
  color: inherit;
  text-transform: uppercase;
  @include font-size(17px);
}

.submenu {
  > li {
    padding: 15px 50px;
    background-color: #fff;
  }
  a {
    color: inherit;
    &:hover {
      color: $hoverLinkColor;
    }
  }
}

.menu-item-parent {
  position: relative;
}

.header-support {
  display: flex;
  align-items: center;
}

.header-phone {
  color: #000;
  font-weight: bold;
  line-height: 1;
  @include font-size(20px);
}

.header-phone__link {
  color: inherit;
}

.header-login {
  margin-right: 40px;
  color: $grayColor;
  @include font-size(17px);
  .login {
    width: 24px;
    height: 24px;
    margin-right: 15px;
    fill: $grayColor;
    transition: all 0.3s linear;
  }
}

.header-login__wrap {
  color: inherit;
  display: inline-flex;
  align-items: center;
  &:hover .login {
    fill: $hoverLinkColor;
    transform: translateX(5px);
  }
}

.header-icon .magnifyings {
  width: 21px;
  height: 21px;
  fill: $grayColor;
  cursor: pointer;
  transition: all 0.3s linear;
  &:hover {
    fill: $hoverLinkColor;
    transform: scale(1.1);
  }
}

.header__back-call {
  margin-left: 40px;
  margin-right: 40px;
  &:hover .header__back-active {
    transform: scale(1.2);
  }
}

.header__back-active {
  width: 20px;
  height: 20px;
  fill: #fff;
  transition: all 0.4s linear;
}
