.header {
  width: 100%;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #fff;
  flex: 0 0 auto;
  display: flex;
  align-items: center;
}

.logo {
  width: 120px;
  margin-right: 6%;
  flex: none;
  @include clearfix;
}

.header-nav {
  flex: 1;
}

.menu {
  display: flex;
}

.menu-item {
  color: $mainColor;
  line-height: 1;
  white-space: nowrap;
}

.menu-item__link {
  color: inherit;
  text-transform: uppercase;
  @include font-size(17px);
}

.header-phone {
  color: #000;
  font-weight: bold;
  line-height: 1;
  @include font-size(20px);
}

.header-phone__link {
  color: inherit;
}

.header-login {
  margin-right: 40px;
  color: $grayColor;
  @include font-size(17px);
  .login {
    width: 24px;
    height: 24px;
    margin-right: 15px;
    fill: $grayColor;
    transition: all 0.3s linear;
  }
}

.header-login__wrap {
  color: inherit;
  display: inline-flex;
  align-items: center;
  &:hover .login {
    fill: $hoverLinkColor;
    transform: translateX(5px);
  }
}

.header-icon .magnifyings {
  width: 21px;
  height: 21px;
  fill: $grayColor;
  cursor: pointer;
  transition: all 0.3s linear;
  &:hover {
    fill: $hoverLinkColor;
    transform: scale(1.1);
  }
}

.header__back-call {
  margin-left: 40px;
  margin-right: 40px;
  &:hover .header__back-active {
    transform: scale(1.2);
  }
}

.header__back-active {
  width: 20px;
  height: 20px;
  fill: #fff;
  transition: all 0.4s linear;
}
