.home-content {
  padding-bottom: 1px;
  background-color: #f0f0ef;
  position: relative;
  z-index: 10;
  &::before {
    width: 100%;
    height: 100px;
    position: relative;
    top: -100px;
    display: block;
    content: '';
  }
  .container {
    background-color: #fff;
    position: relative;
    z-index: 10;
  }
}

.home-content__first {
  margin-top: -200px;
}

.home-content-h3 {
  margin-bottom: 20px;
  line-height: 1.1;
  font-weight: 300;
  @include font-size(33px);
}

.home-content-h4 {
  width: 100%;
  margin-bottom: 15px;
  line-height: 1.1;
  color: #fff;
  @include font-size(36px);
}

.home-integrations {
  background-color: #fff;
}

.home-integrations__block {
  padding-top: 50px;
  padding-bottom: 50px;
  flex: 1;
}

.home-integrations__block-text {
  margin-bottom: 47px;
  text-align: justify;
  @include font-size(18px);
}

.home-integrations__quest {
  width: 100%;
  padding: 50px 55px;
  text-align: center;
  color: #fff;
  background-color: $linkColor;
  flex: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  p {
    width: inherit;
  }
}
