.home-company {
  min-height: 500px;
  padding-top: 70px;
  padding-bottom: 70px;
  position: relative;
  z-index: 5;
  color: #fff;
  background-image: url(../img/bg-about.jpg);
  background-repeat: no-repeat;
  background-size: 0;
  &::before {
    top: -80px;
    left: 0;
    width: 100%;
    height: calc(100% + 160px);
    position: absolute;
    content: '';
    z-index: -1;
    background-image: inherit;
    background-repeat: inherit;
  }
  .container {
    background-color: transparent;
    text-align: center;
  }
  .read-more {
    color: #ffffff;
  }
  .btn {
    margin-bottom: 30px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.home-company__title {
  margin-bottom: 40px;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  font-weight: normal;
  @include font-size(35px);
}

.home-company__text {
  margin-bottom: 70px;
  color: rgb(255, 255, 255);
  line-height: 1.5;
}
