.system-block__item {
  margin-bottom: 30px;
  text-align: center;
  img {
      box-shadow: 0 6px 20.16px 0.84px rgba(64, 70, 91, 0.43);
  }
}

.system-block__front {
  background-repeat: no-repeat;
  background-size: contain;
  font-weight: 700;
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  z-index: 2;
  transform: rotateY(0deg);
  @include font-size(25px);
  .text-uppercase {
    margin: 0 5px;
  }
}

.system-block__back {
  border: 5px solid;
  background: #fff;
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
}

.system-block__img {
  opacity: 0;
}

.system-block .system-block__more {
  padding: 17px 0 15px;
  text-align: center;
  display: block;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1;
  &:hover {
    color: #fff;
  }
}

.system-block .system-block__list {
  padding: 15px 35px;
  margin-bottom: auto;
  margin-top: auto;
}

/* entire container, keeps perspective */
.flip-container {
  position: relative;
  overflow: hidden;
  perspective: 1000px;
}

/* flip the pane when hovered */
.flip-container:hover .flipper,
.flip-container.hover .flipper {
  transform: rotateY(180deg);
}

.flipper,
.system-block__front,
.system-block__back {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

/* flip speed goes here */
.flipper {
  transition: 0.6s;
  transform-style: preserve-3d;
}

/* hide back of pane during swap */
.system-block__front,
.system-block__back {
  backface-visibility: hidden;

}

.system-block__content {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  .read-more {
    opacity: 0;
    transition: opacity 0.4s ease;
  }
  &:hover .read-more {
    opacity: 1;
  }
}

.system-block__title {
  padding: 0 20px;
  margin-top: 40px;
  margin-bottom: 40px;
  font-weight: 700;
  color: #fff;
  text-align: center;
  @include font-size(32px)
}

.system-block__auto {
  padding-left: 15px;
  padding-top: 15px;
    margin-top: auto;
    margin-bottom: auto;
    text-align: left;
  position: relative;
}
