@import 'lib/breakpoint';
@import 'lib/breakpoint-slicer';
/* common */
@import "common/variables";
@import "common/mixin";
@import "common/fonts";
@import "common/common";
@import "common/btn";
@import "common/form";
@import "common/checkbox-radio";
@import "blocks/arrow";
@import "blocks/header";
@import "blocks/header-home";
@import "blocks/home-content";
@import "blocks/news-section";
@import "blocks/home-company";
@import "blocks/contact-us";
@import "blocks/our-partners";
@import "blocks/social-list";
@import "blocks/footer";
@import "blocks/header-search";
@import "blocks/news";
@import "blocks/pagination";
@import "blocks/breadcrumbs";
@import "blocks/vacancies";
@import "blocks/services";
@import "blocks/contacts-page";
@import "blocks/panel";
@import "blocks/system-block";
@import "blocks/jGrowl";
@import "blocks/share-content";

#button-up {
  display: none;
  position: fixed;
  right: 60px;
  bottom: 50px;
  width: 70px;
  height: 70px;
  border-radius: 100%;
  background-color: #7ab6e4;
  z-index: 99;
  cursor: pointer;
  transition: background-color 0.3s ease;
  &::before {
    position: absolute;
    margin-top: -5px;
    top: 50%;
    right: 26px;
    width: 18px;
    height: 18px;
    border-top: 3px solid #fff;
    border-right: 3px solid #fff;
    transform: rotate(-45deg);
    content: '';
  }
  &:hover {
    background-color: #6faad7;
  }
}

.main-content {
  padding-top: 75px;
  flex: 1 0 auto;
}

.header-page {
  height: 512px;
  color: #fff;
  position: relative;
  overflow: hidden;
  background-color: #fff;
  background-image: url(../img/example/bg-news.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  &::before,
  &::after {
    width: 100%;
    height: inherit;
    top: 75px;
    left: 0;
    position: fixed;
    content: '';
  }
  &::before {
    background-color: rgba(#000, .4);
    z-index: 4;
  }
  &::after {
    z-index: 3;
    background-image: inherit;
    background-repeat: inherit;
    background-position: inherit;
  }
  .container {
    min-height: 512px;
    position: relative;
    z-index: 5;
  }
  h1 {
    color: inherit;
    @include font-size(60px);
  }
}

.header-page__wrap {
  margin: auto 0;
}

.page-container {
  position: relative;
  z-index: 5;
  background-color: #f0f0ef;
}

.page-container::before {
  width: 100%;
  height: 60px;
  position: relative;
  top: -60px;
  display: block;
  content: '';
}

.page-container__first {
  margin-top: -120px;
  padding-bottom: 60px;
}

.article-content {
  margin: 0 -15px;
  padding: 50px;
  background-color: #fff;
  position: relative;
  z-index: 10;
}

//** short codes

.box-warning {
  padding-left: 20px;
  border-left: 4px solid;
}

.box-warning__blue {
  color: $hoverLinkColor;
}

.box-full {
  padding: 25px;
  @include font-size(15px);
}

.box-full__gray {
  background-color: #f0f0ef;
}

.article-content .partners-list {
  padding-left: 0;
  margin: 0 -15px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  li {
    padding: 15px;
    &::before {
      display: none;
    }
  }
}
