@import 'lib/breakpoint';
@import 'lib/breakpoint-slicer';
/* common */
@import "common/variables";
@import "common/mixin";
@import "common/fonts";
@import "common/common";
@import "common/btn";
@import "common/form";
@import "common/checkbox-radio";
@import "blocks/arrow";
@import "blocks/header";
@import "blocks/header-home";
@import "blocks/home-content";
@import "blocks/news-section";
@import "blocks/home-company";
@import "blocks/contact-us";
@import "blocks/our-partners";
@import "blocks/social-list";
@import "blocks/footer";
@import "blocks/header-search";
@import "blocks/news";
@import "blocks/pagination";
@import "blocks/breadcrumbs";
@import "blocks/vacancies";
@import "blocks/services";
@import "blocks/contacts-page";

#button-up {
  display: none;
  position: fixed;
  right: 60px;
  bottom: 50px;
  width: 70px;
  height: 70px;
  border-radius: 100%;
  background-color: #7ab6e4;
  z-index: 99;
  cursor: pointer;
  transition: background-color 0.3s ease;
  &::before {
    position: absolute;
    margin-top: -5px;
    top: 50%;
    right: 26px;
    width: 18px;
    height: 18px;
    border-top: 3px solid #fff;
    border-right: 3px solid #fff;
    transform: rotate(-45deg);
    content: '';
  }
  &:hover {
    background-color: #6faad7;
  }
}

.main-content {
  padding-top: 75px;
  flex: 1 0 auto;
}

.read-more {
  color: $mainColor;
  font-weight: 400;
  display: inline-flex;
  align-items: center;
  @include font-size(15px);
  .arrow-circle {
    margin-right: 15px;
  }
  &:hover .arrow {
    transform: translateX(2px);
  }
}

.box-truncate {
  max-height: 180px;
  height: 100%;
  display: block;
  overflow: hidden;
  position: relative;
  &::before {
    width: 100%;
    height: 40px;
    bottom: 0;
    left: 0;
    position: absolute;
    content: '';
    background: linear-gradient(rgba(255, 255, 255, 0), #7ab6e4);
  }
}

.header-page {
  color: #fff;
  position: relative;
  overflow: hidden;
  background-color: #fff;
  background-image: url(../img/example/bg-news.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  &::before {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background-color: rgba(#000, .4);
    content: '';
  }
  .container {
    min-height: 512px;
    position: relative;
    z-index: 5;
  }
  h1 {
    color: inherit;
    @include font-size(60px);
  }
}

.header-page__wrap {
  margin: auto 0;
}

.article-content {
  margin: -60px -20px 60px;
  padding: 50px;
  background-color: #fff;
  position: relative;
  z-index: 10;
  a {
    color: $hoverLinkColor;
    &:hover {
      color: $linkColor;
    }
  }
}

//** short codes

.box-warning {
  padding-left: 20px;
  border-left: 4px solid;
}

.box-warning__blue {
  color: $hoverLinkColor;
}

.box-full {
  padding: 25px;
  @include font-size(15px);
}

.box-full__gray {
  background-color: #f0f0ef;
}

//************
.panel-group {
  width: 100%;
  margin-bottom: 60px;
}

.panel {
  margin-bottom: 2px;
  background-color: #fff;
  box-shadow: 0 6px 21px rgba(#B0B7D2, .24);
}

.panel-heading {
  margin-bottom: 0;
  color: inherit;
  font-weight: 300;
  padding: 35px 50px 20px;
  line-height: 1;
  cursor: pointer;
  position: relative;
  @include font-size(33px);
  &:not(.collapsed) .panel-heading__decor {
    &::after {
      width: 17px;
      right: 5px;
    }
    &::before {
      opacity: 0;
    }
  }
  .panel-heading__decor {
    width: 31px;
    height: 31px;
    border: 2px solid $linkColor;
    border-radius: 100%;
    right: 36px;
    top: 36px;
    position: absolute;
    content: '';
    &::before, &::after {
      position: absolute;
      background-color: $linkColor;
      transition: all 0.3s ease;
      content: '';
    }
    &::before {
      width: 2px;
      height: 15px;
      right: 12px;
      top: 7px;
    }
    &::after {
      width: 15px;
      height: 2px;
      right: 6px;
      top: 13px;
    }
  }
}

.panel-body {
  margin-bottom: 2px;
  padding: 0 50px 30px;
  background-color: #fff;
}

.article-content .partners-list {
  padding-left: 0;
  margin: 0 -15px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  li {
    padding: 15px;
    &::before {
      display: none;
    }
  }
}

//***************************

#jGrowl {
  font-size: 18px;
  margin: 0;
  &.top-right {
    left: 50% !important;
    top: 50% !important;
    transform: translate(-50%, -50%);
    min-width: 300px;
  }
}

#jGrowl .jGrowl-notification {
  margin: 0;
  border-radius: 0;
  position: relative;
  max-width: 320px;
  width: 100%;
  padding: 15px;
  text-align: center;
  background: none repeat 0 0 #fff !important;
  box-shadow: 0 0 0 1px #7ab6e4, 0 0 5px 1px rgba(0, 0, 0, .3);
  border: 0 solid rgba(255, 255, 255, .6);
}

#jGrowl .jGrowl-notification .jGrowl-close {
  position: absolute;
  right: 4px;
  top: 4px;
  color: #7ab6e4 !important;
}

#jGrowl .jGrowl-notification .jGrowl-message {
  color: #7ab6e4 !important;
}

//***************************************************

.system-block {
}

.system-block__item {
  margin-bottom: 30px;
}

.system-block__front {
  background-repeat: no-repeat;
  background-size: contain;
  font-weight: 700;
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  z-index: 2;
  transform: rotateY(0deg);
  @include font-size(25px);
  .text-uppercase {
    margin: 0 5px;
  }
}

.system-block__back {
  border: 5px solid;
  background: #fff;
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
}

.system-block__img {
  opacity: 0;
}

.system-block .system-block__more {
  padding: 17px 0 15px;
  text-align: center;
  display: block;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1;
  &:hover {
    color: #fff;
  }
}

.system-block .system-block__list {
  padding: 15px 35px;
  margin-bottom: auto;
  margin-top: auto;
}

/* entire container, keeps perspective */
.flip-container {
  position: relative;
  overflow: hidden;
  perspective: 1000px;
}

/* flip the pane when hovered */
.flip-container:hover .flipper,
.flip-container.hover .flipper {
  transform: rotateY(180deg);
}

.flipper,
.system-block__front,
.system-block__back {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

/* flip speed goes here */
.flipper {
  transition: 0.6s;
  transform-style: preserve-3d;
}

/* hide back of pane during swap */
.system-block__front,
.system-block__back {
  backface-visibility: hidden;

}

//******************************

.share-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.share-content hr {
  margin: 1em 0 2em;
  width: 100%;
  border: 1px solid #7ab6e4;
}

.share-content__text {
  font-weight: 400;
}

.share-content .ya-share2__list,
.share-content .ya-share2__list li:not(:last-child) {
  margin-bottom: 0;
}

.share-content .ya-share2__list li::before {
  display: none;
}
