<div class="contact-us" id="contact-us">
    <div class="contact-us-head">
        <h3 class="contact-us-title">Напишите нам</h3>
        <p class="contact-us-text">Если у вас возникли вопросы, укажите номер телефона и адрес
            электронной почты и наши
            специалисты свяжутся с вами в ближайшее время</p>
    </div>
    <form action="#" class="contact-us-content">
        <div class="contact-us-left">
            <div class="ui-group">
                <select name="select">
                    <option>Выберите тему</option>
                    <option>По другим вопросам</option>
                    <option>Получить коммерческое предложение</option>
                    <option>Пресса и сотрудничество</option>
                    <option>Отправить резюме</option>
                </select>
                <label class="ui-label">Выберите тему</label>
            </div>
            <div class="ui-group">
                <input type="text" class="ui-field" required>
                <label class="ui-label">Ваше имя и фамилия<span class="ui-label-red">*</span></label>
            </div>
            <div class="ui-group">
                <input type="tel" class="ui-field" required>
                <label class="ui-label">Телефон<span class="ui-label-red">*</span></label>
            </div>
            <div class="ui-group">
                <input type="email" class="ui-field" required>
                <label class="ui-label">Ваша электронная почта<span
                        class="ui-label-red">*</span></label>
            </div>
            <div class="ui-group">
                <input type="text" class="ui-field">
                <label class="ui-label">Сайт</label>
            </div>
        </div>
        <div class="contact-us-right">
            <div class="ui-group">
                <textarea name="message" cols="15" rows="7" class="ui-textarea ui-field"></textarea>
                <label class="ui-label">Текст сообщения</label>
            </div>
            <div class="ui-group">
                <input type="file" class="file-style">
                <label class="ui-label">Прикрепить файл</label>
                <svg class="clip">
                    <use xlink:href="img/sprite.svg#clip"></use>
                </svg>
            </div>
            <div class="ui-group">
                <label class="label-block">
                    <input type="checkbox" name="checkbox" class="checkbox-custom">
                    <span class="checkbox-custom-view label">
                                    Оставляя заявку на сайте skdo.ru, вы подтверждаете согласие с
                                    <a href="#">правилами обработки своих персональных данных</a>
                                </span>
                </label>
            </div>
            <button class="btn-blue btn"><span>Заказать звонок</span></button>
        </div>
    </form>
</div>
