<footer class="footer">
    <div class="container">
        <div class="footer-top">
            <ul class="footer-menu list-unstyled">
                <li><a href="#" class="footer-link">О компании</a></li>
                <li><a href="#" class="footer-link">О системе</a></li>
                <li><a href="#" class="footer-link">Контакты</a></li>
            </ul>
            <ul class="footer-links list-unstyled">
                <li><a href="#" class="footer-link">Дополнительные услуги</a></li>
                <li><a href="#" class="footer-link">Аналитика</a></li>
                <li><a href="#" class="footer-link">Работа у нас</a></li>
                <li><a href="#" class="footer-link">Новости</a></li>
                <li><a href="#" class="footer-link">Пресса о нас</a></li>
            </ul>
            <div class="footer-shared">
                <ul class="social-list list-unstyled">
                    <li><a href="#" rel="nofollow" target="_blank" class="social-list-icon vk-color">
                        <svg class="vk">
                            <use xlink:href="img/sprite.svg#vk"></use>
                        </svg>
                    </a></li>
                    <li><a href="#" rel="nofollow" target="_blank" class="social-list-icon fb-color">
                        <svg class="fb">
                            <use xlink:href="img/sprite.svg#fb"></use>
                        </svg>
                    </a></li>
                    <li><a href="#" rel="nofollow" target="_blank" class="social-list-icon yt-color">
                        <svg class="yt">
                            <use xlink:href="img/sprite.svg#yt"></use>
                        </svg>
                    </a></li>
                    <li><a href="#" rel="nofollow" target="_blank" class="social-list-icon ig-color">
                        <svg class="ig">
                            <use xlink:href="img/sprite.svg#ig"></use>
                        </svg>
                    </a></li>
                    <li><a href="#" rel="nofollow" target="_blank" class="social-list-icon tg-color">
                        <svg class="telegram">
                            <use xlink:href="img/sprite.svg#telegram"></use>
                        </svg>
                    </a></li>
                </ul>

                <div class="footer-subscription">
                    <label class="footer-subscription-title" for="subscription-input">Следите за нами</label>
                    <form action="#" class="ui-group">
                        <input type="email" class="ui-field" id="subscription-input" required>
                        <div class="ui-label">Подпишитесь на обновления</div>
                        <button class="footer-subscription-send">
                            <svg class="arrow">
                                <use xlink:href="img/sprite.svg#arrow"></use>
                            </svg>
                        </button>
                        <svg class="mail">
                            <use xlink:href="img/sprite.svg#mail"></use>
                        </svg>
                    </form>
                </div>
            </div>

            <div class="footer-support">
                <div class="footer-support-address">Москва, Космодамианская наб., 4/22, стр. 4</div>
                <div class="footer-support-scheme"><a href="#">Схема проезда</a></div>
                <div><a href="#" rel="nofollow" class="footer-support-email">info@skdo.ru</a></div>
                <div class="footer-support-phone"><a href="#" rel="nofollow">8 800 700-79-97</a></div>
                <button class="btn-red btn" data-toggle="modal" data-target="#back-call"><span>Обратный звонок</span></button>
            </div>
        </div>
        <div class="footer-bottom">
            <a href="#">Политика конфиденциальности</a>
            <a href="#">Договор Оферты</a>
            <a href="#">Антикоррупционная политика</a>
            <div class="footer-copy">© 2017-2018 ООО «СКДО +». Все права защищены.</div>
        </div>
    </div>
</footer>

<div id="button-up"></div>
