<header class="header">
    <div class="nav-active">
        <span>Открыть меню</span>
    </div>
    <div class="logo">
        <a href="#">
            <img src="img/logo-old.svg" alt="СКДО +">
        </a>
    </div>
    <nav class="header-nav">
        <ul class="menu list-unstyled">
            <li class="menu-item menu-item-parent">
                <a href="#" class="menu-item__link">Компания</a>

                <ul class="submenu list-unstyled">
                    <li class="submenu-item">
                        <a class="submenu-link" href="#">Партнёры</a>
                    </li>
                </ul>
            </li>
            <li class="menu-item"><a href="#" class="menu-item__link">О системе</a></li>
            <li class="menu-item"><a href="#" class="menu-item__link">Услуги</a></li>
            <li class="menu-item"><a href="#" class="menu-item__link">Вакансии</a></li>
            <li class="menu-item"><a href="#" class="menu-item__link">Новости</a></li>
            <li class="menu-item"><a href="#" class="menu-item__link">Контакты</a></li>
        </ul>
    </nav>
    <div class="header-support">
        <div class="header-phone">
            <a href="tel:88007007997" class="header-phone__link" rel="nofollow">8 800 700-79-97</a>
        </div>
        <button class="header__back-call btn-red btn" data-toggle="modal" data-target="#back-call">
            <span>Обратный звонок</span>
        </button>
    </div>
    <div class="header-login">
        <a href="#" rel="nofollow" class="header-login__wrap">
            <svg class="login">
                <use xlink:href="img/sprite.svg#login"></use>
            </svg>
            <span>Вход</span>
        </a>
    </div>
    <div class="header-icon">
        <svg class="magnifyings">
            <use xlink:href="img/sprite.svg#magnifyings"></use>
        </svg>
    </div>
</header>
