<header class="header">
    <div class="nav-active">
        <span>Открыть меню</span>
        <svg class="cancel">
            <use xlink:href="img/sprite.svg#cancel"></use>
        </svg>
    </div>
    <div class="logo">
        <a href="index.html">
            <img src="img/logo-vertical.svg" alt="СКДО +">
        </a>
    </div>
    <nav class="header-nav">
        <ul class="menu list-unstyled">
            <li class="menu-item__level-1 menu-item-parent">
                <a href="#" class="menu-item__link">Компания</a>

                <ul class="submenu list-unstyled">
                    <li class="submenu-item">
                        <a class="submenu-link" href="#">Партнёры</a>
                    </li>
                </ul>
            </li>
            <li class="menu-item__level-1"><a href="page.html" class="menu-item__link">О системе</a></li>
            <li class="menu-item__level-1"><a href="services.html" class="menu-item__link">Услуги</a></li>
            <li class="menu-item__level-1"><a href="vacancies.html" class="menu-item__link">Вакансии</a></li>
            <li class="menu-item__level-1"><a href="news.html" class="menu-item__link">Новости</a></li>
            <li class="menu-item__level-1"><a href="contacts.html" class="menu-item__link">Контакты</a></li>
        </ul>

        <aside class="aside-support">
            <a class="aside-support__logo" href="/" target="_blank"><img alt="СКДО +" src="img/logo-vertical.svg"></a>

            <a class="aside-support__email" href="mailto:support@skdo.ru" rel="nofollow">support@skdo.ru</a>

            <a class="aside-support__phone" href="tel:+88007007997" rel="nofollow">8 800 700 79 97</a>

            <button class="aside-support__call btn-red btn" data-toggle="modal" data-target="#back-call">
                <span>Обратный звонок</span>
            </button>
        </aside>
    </nav>
    <div class="header-support">
        <div class="header-phone">
            <a href="tel:88007007997" class="header-phone__link" rel="nofollow">8 800 700-79-97</a>
        </div>
        <button class="header__back-call btn-red btn" data-toggle="modal" data-target="#back-call">
            <span>Обратный звонок</span>
        </button>
    </div>
    <div class="header-login">
        <a href="#" rel="nofollow" class="header-login__wrap">
            <svg class="login">
                <use xlink:href="img/sprite.svg#login"></use>
            </svg>
            <span>Вход</span>
        </a>
    </div>
    <div class="header-icon">
        <svg class="magnifyings">
            <use xlink:href="img/sprite.svg#magnifyings"></use>
        </svg>
    </div>
</header>

<div class="header-search container-fluid">
    <form action="#" class="header-search-area">
        <input type="search" class="header-search-field ui-placeholder" placeholder="Что вы хотите найти?">
        <button class="header-search-btn">
            <svg class="magnifyings">
                <use xlink:href="img/sprite.svg#magnifyings"></use>
            </svg>
        </button>
    </form>

    <div class="header-cancel">
        <svg class="cancel">
            <use xlink:href="img/sprite.svg#cancel"></use>
        </svg>
    </div>
</div>
