@import "variables";
@import "mixin";

.btn {
  padding: 0;
  border: 0;
  background-color: transparent;
  text-align: center;
  line-height: 1;
  display: inline-block;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  transition: all 0.3s linear;
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  align-self: flex-start;
  svg {
    transition: all 0.3s linear;
  }

  &::before {
    content: '';
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 0;
    top: 50%;
    left: 50%;
    opacity: 0;
    transition: all 0.6s;
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
  }

  span {
    position: relative;
    z-index: 4;
  }

  &-red {
    padding: 10px 20px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1;
    color: #fff;
    background-color: $redColor;
    @include font-size(14px);

    &::before {
      background: #c1251e;
    }
    &:hover {
      color: #fff;
      &::before {
        height: 250px;
        opacity: 1;
      }
    }
  }

  &-light {
    height: 37px !important;
    padding-left: 20px;
    padding-right: 20px;
    line-height: 1;
    font-weight: bold;
    color: #fff;
    border: 2px solid #fff;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    @include font-size(16px);

    &::before {
      background: #fff;
    }
    &:hover {
      color: $mainColor;
      &::before {
        height: 250px;
        opacity: 1;
      }
    }
  }

  &-black {
    height: 37px !important;
    padding: 10px 20px;
    font-weight: bold;
    line-height: 1;
    color: $mainColor;
    border: 2px solid $mainColor;
    @include font-size(16px);

    &::before {
      background: $mainColor;
    }
    &:hover {
      color: #fff;
      &::before {
        height: 250px;
        opacity: 1;
      }
    }
  }

  &-blue {
    padding: 10px 20px;
    font-weight: bold;
    line-height: 1;
    color: #fff;
    background-color: $linkColor;
    border: 2px solid $linkColor;
    cursor: pointer;
    transition: all 0.3s linear;
    @include font-size(18px);
    &::before {
      background-color: #fff;
    }
    &:hover {
      color: $linkColor;
      &::before {
        height: 280px;
        opacity: 1;
      }
    }
  }

  &-link {
    height: 37px !important;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
    line-height: 42px;
    color: $hoverLinkColor;
    border: 2px solid $hoverLinkColor;
    font-weight: normal;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    @include font-size(18px);

    &::before {
      background: $hoverLinkColor;
    }
    &:hover {
      color: #fff;
      &::before {
        height: 250px;
        opacity: 1;
      }
      &::after {
        color: #fff;
      }
    }
  }

  &-pdf {
    height: 63px;
    padding-left: 26px;
    padding-right: 31px;
    border: 2px solid #7ab6e4;
    font-weight: 700;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    @include font-size(18px);
    .file-pdf {
      width: 44px;
      height: 44px;
      margin-right: 17px;
      fill: #7ab6e4;
      z-index: 5;
    }
    &::before {
      background-color: #7ab6e4;
    }
    &:hover {
      color: #fff;
      &::before {
        height: 250px;
        opacity: 1;
      }
      .file-pdf {
        fill: #fff;
      }
    }
  }
}

.show-more::after {
  margin-left: 15px;
  display: inline-block;
  position: relative;
  z-index: 2;
  content: '+';
  transition: color 0.3s linear;
}
